<!doctype html>
<html lang="pl">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/static/css/invitation_base1.css" />
  <title>Save the Date</title>
</head>
<body>
  <section class="card">
    <img class="card__img" src="/static/img/save_the_date_empty_transparent.png" alt="Save the Date frame" />

    <div class="card__text">
      <div class="t-save">SAVE</div>
      <div class="t-date">The Date</div>
      <div class="t-num">26.07.2026</div>
    </div>
  </section>

</body>
</html>
