<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Wedding Invite</title>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/invitation-base-1.css">
</head>
<body>
    <main>
        <!-- KOPERTA -->
        <section class="envelope-section" id="envelope-section">
            <div class="envelope" id="envelope">
                <div class="envelope-flap"></div>
                <div class="envelope-body">
                    <h1>Karolina & Robert</h1>
                    <p>Na najpiękniejszy dzień w naszym życiu</p>
                </div>
            </div>
            <p>Kliknij żeby otworzyć</p>
        </section>



        <!-- RESZTA ZAPROSZENIA -->
        <section class="invitation hidden">
            <p class="highlight-info">Serdecznie zapraszamy na:</p>
            <h1>Szymona</h1>
            <h1>&</h1>
            <h1>Kube</h1>

            <h1>Ślub</h1>
            <h1>&</h1>
            <h1>Wesele</h1>
        </section>





        <section class="wedding-church hidden">
            <h2>Ceremonia zaślubin:</h2>
            <p class="highlight-info">Nazwa kościoła</p>
            <time class="highlight-time" datetime="16:30">16:30</time>
            <address>ADRES, który przenosi do Google Maps</address>
        </section>


        <section class="wedding-party hidden">
            <h2>Przyjęcie weselne:</h2>
            <p class="highlight-info">Nazwa Lokalu</p>
            <time class="highlight-time" datetime="18:00">18:00</time>
            <address>ADRES, który przenosi do Google Maps</address>
        </section>


        <section class="RSVP hidden">
            <h2>RSVP</h2>
            <p class="highlight-info">Prosimy o potwierdzenie obecności do:</p>
            <time class="highlight-date" datetime="2026-04-26">26 kwietnia 2026</time>
            <p class="highlight-info">Dziękujemy ❤️</p>
        </section>

        <section class="save_the_date hidden">
            <h2>Save the date</h2>
            <time class="highlight-date" datetime="2026-07-26">26 lipca 2026</time>
            <div class="counter">
                <p class="highlight-info">Do ślubu zostało:</p>
                <time>20 dni 30 godzin 0 minut 20 sekund?</time>
            </div>
        </section>

        <section class="gifts hidden">
            <p>Pierdu pierdu o prezentach</p>
            <p>Pierdu pierdu o prezentach</p>
        </section>

        <section class="photos hidden">
            <p>Zdj1</p>
            <p>zdj2</p>
        </section>


        <section class="music hidden">
            <p>Music</p>
        </section>


        <section class="logo hidden">
            <p>Logo</p>
        </section>

    </main>

    <script src="../static/js/envelope.js"></script>

</body>
</html>
